<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>President Card Game</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<link href="/static/css/playfieldStyles.css" rel="stylesheet" type="text/css" />
<link href="/static/css/cardStyles.css" rel="stylesheet" type="text/css" />

<script>

function playCard(x) {
  card = document.getElementById(x);
  card.style.transform = "translateY(-100%)";
}

function moveCardUp() {
  for (var i = 0; i < arguments.length; i++) {
      x = arguments[i];
      card = document.getElementById(x);
      card.style.top = "0%";
      card.style.transform = "translateY(0%)";
      card.onclick = function() {
      playCard(x);
    }
  }
}

function moveCardDown() {
  for (var i = 0; i < arguments.length; i++) {
      x = arguments[i];
      card = document.getElementById(x);
      card.style.top = "100%";
      card.style.transform = "translateY(-100%)";
      card.onClick = undefined;
  }
}
</script>

</head>
<body>

<!-- Normal page content. -->
<h1>President Card Game</h1>

<div class="player_opposite">
	<h1>Richard</h1>
	<div class="hand_play_area">
    <div class="card_hit_area"  style="left:-1em;top:0em;">
    <div class="card_small" id="0_2">
    <div class="front red">
    <div class="index">3<br />&diams;</div>
    <div class="index_bottom">2<br />&diams;</div>
    <div class="spotB1">&diams;</div>
    <div class="spotB3">&diams;</div>
    <div class="spotB5">&diams;</div>
    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:0em;top:0em;">
    <div class="card_small" id="0_3">

    <div class="front red">


    <div class="index">3<br />&hearts;</div>
    <div class="index_bottom">2<br />&hearts;</div>


    <div class="spotB1">&hearts;</div>
    <div class="spotB3">&hearts;</div>
    <div class="spotB5">&hearts;</div>


    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:1em;top:0em;">
    <div class="card_small" id="1_0">

    <div class="front">


    <div class="index">4<br />&clubs;</div>
    <div class="index_bottom">3<br />&clubs;</div>


    <div class="spotA1">&clubs;</div>
    <div class="spotA5">&clubs;</div>
    <div class="spotC1">&clubs;</div>
    <div class="spotC5">&clubs;</div>


    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:2em;top:0em;">
    <div class="card_small" id="2_2">

    <div class="front red">


    <div class="index">5<br />&diams;</div>
    <div class="index_bottom">4<br />&diams;</div>


    <div class="spotA1">&diams;</div>
    <div class="spotA5">&diams;</div>
    <div class="spotC1">&diams;</div>
    <div class="spotC5">&diams;</div>


    <div class="spotB3">&diams;</div>

    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:3em;top:0em;">
    <div class="card_small" id="3_0">

    <div class="front">


    <div class="index">6<br />&clubs;</div>
    <div class="index_bottom">5<br />&clubs;</div>


    <div class="spotA1">&clubs;</div>
    <div class="spotA5">&clubs;</div>
    <div class="spotC1">&clubs;</div>
    <div class="spotC5">&clubs;</div>


    <div class="spotA3">&clubs;</div>
    <div class="spotC3">&clubs;</div>

    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:4em;top:0em;">
    <div class="card_small" id="4_2">

    <div class="front red">


    <div class="index">7<br />&diams;</div>
    <div class="index_bottom">6<br />&diams;</div>


    <div class="spotA1">&diams;</div>
    <div class="spotA5">&diams;</div>
    <div class="spotC1">&diams;</div>
    <div class="spotC5">&diams;</div>


    <div class="spotA3">&diams;</div>
    <div class="spotC3">&diams;</div>
    <div class="spotB2">&diams;</div>

    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:5em;top:0em;">
    <div class="card_small" id="7_1">

    <div class="front">


    <div class="index">10<br />&spades;</div>
    <div class="index_bottom">9<br />&spades;</div>


    <div class="spotA1">&spades;</div>
    <div class="spotA5">&spades;</div>
    <div class="spotC1">&spades;</div>
    <div class="spotC5">&spades;</div>


    <div class="spotA2">&spades;</div>
    <div class="spotC2">&spades;</div>
    <div class="spotA4">&spades;</div>
    <div class="spotC4">&spades;</div>
    <div class="spotB2">&spades;</div>
    <div class="spotB4">&spades;</div>

    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:6em;top:0em;">
    <div class="card_small" id="7_3">

    <div class="front red">


    <div class="index">10<br />&hearts;</div>
    <div class="index_bottom">9<br />&hearts;</div>


    <div class="spotA1">&hearts;</div>
    <div class="spotA5">&hearts;</div>
    <div class="spotC1">&hearts;</div>
    <div class="spotC5">&hearts;</div>


    <div class="spotA2">&hearts;</div>
    <div class="spotC2">&hearts;</div>
    <div class="spotA4">&hearts;</div>
    <div class="spotC4">&hearts;</div>
    <div class="spotB2">&hearts;</div>
    <div class="spotB4">&hearts;</div>

    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:7em;top:0em;">
    <div class="card_small" id="9_2">

    <div class="front red">





        <img class="face" src="/static/img/queen_diamonds.jpg" alt="" width="80" height="130"  />


    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:8em;top:0em;">
    <div class="card_small" id="11_2">

    <div class="front red">


    <div class="index">A<br />&diams;</div>
    <div class="index_bottom">A<br />&diams;</div>


    <div class="ace">&diams;</div>


    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:9em;top:0em;">
    <div class="card_small" id="12_2">

    <div class="front red">


    <div class="index">2<br />&diams;</div>
    <div class="index_bottom">2<br />&diams;</div>


    <div class="spotB1">&diams;</div>
    <div class="spotB5">&diams;</div>


    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:10em;top:0em;">
    <div class="card_small" id="12_0">

    <div class="front">


    <div class="index">2<br />&clubs;</div>
    <div class="index_bottom">2<br />&clubs;</div>


    <div class="spotB1">&clubs;</div>
    <div class="spotB5">&clubs;</div>


    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:11em;top:0em;">
    <div class="card_small" id="12_3">

    <div class="front red">


    <div class="index">2<br />&hearts;</div>
    <div class="index_bottom">2<br />&hearts;</div>


    <div class="spotB1">&hearts;</div>
    <div class="spotB5">&hearts;</div>


    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:12em;top:0em;">
    <div class="card_small" id="13_3">

    <div class="front red">





    <img class="face" src="/static/img/red_joker.jpg" alt="" width="80" height="130"  />


    </div>
    </div>
    </div>

	</div>
</div>
<div class="row">
	<div class="player_left">
	<h1>Akbar</h1>
   	<div class="hand_play_area">







    <div class="card_hit_area"  style="left:-1em;top:0em;">
    <div class="card_small" id="0_0">

    <div class="front">


    <div class="index">3<br />&clubs;</div>
    <div class="index_bottom">2<br />&clubs;</div>


    <div class="spotB1">&clubs;</div>
    <div class="spotB3">&clubs;</div>
    <div class="spotB5">&clubs;</div>


    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:0em;top:0em;">
    <div class="card_small" id="2_0">

    <div class="front">


    <div class="index">5<br />&clubs;</div>
    <div class="index_bottom">4<br />&clubs;</div>


    <div class="spotA1">&clubs;</div>
    <div class="spotA5">&clubs;</div>
    <div class="spotC1">&clubs;</div>
    <div class="spotC5">&clubs;</div>


    <div class="spotB3">&clubs;</div>

    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:1em;top:0em;">
    <div class="card_small" id="3_2">

    <div class="front red">


    <div class="index">6<br />&diams;</div>
    <div class="index_bottom">5<br />&diams;</div>


    <div class="spotA1">&diams;</div>
    <div class="spotA5">&diams;</div>
    <div class="spotC1">&diams;</div>
    <div class="spotC5">&diams;</div>


    <div class="spotA3">&diams;</div>
    <div class="spotC3">&diams;</div>

    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:2em;top:0em;">
    <div class="card_small" id="4_1">

    <div class="front">


    <div class="index">7<br />&spades;</div>
    <div class="index_bottom">6<br />&spades;</div>


    <div class="spotA1">&spades;</div>
    <div class="spotA5">&spades;</div>
    <div class="spotC1">&spades;</div>
    <div class="spotC5">&spades;</div>


    <div class="spotA3">&spades;</div>
    <div class="spotC3">&spades;</div>
    <div class="spotB2">&spades;</div>

    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:3em;top:0em;">
    <div class="card_small" id="5_0">

    <div class="front">


    <div class="index">8<br />&clubs;</div>
    <div class="index_bottom">7<br />&clubs;</div>


    <div class="spotA1">&clubs;</div>
    <div class="spotA5">&clubs;</div>
    <div class="spotC1">&clubs;</div>
    <div class="spotC5">&clubs;</div>


    <div class="spotA3">&clubs;</div>
    <div class="spotC3">&clubs;</div>
    <div class="spotB2">&clubs;</div>
    <div class="spotB4">&clubs;</div>

    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:4em;top:0em;">
    <div class="card_small" id="5_1">

    <div class="front">


    <div class="index">8<br />&spades;</div>
    <div class="index_bottom">7<br />&spades;</div>


    <div class="spotA1">&spades;</div>
    <div class="spotA5">&spades;</div>
    <div class="spotC1">&spades;</div>
    <div class="spotC5">&spades;</div>


    <div class="spotA3">&spades;</div>
    <div class="spotC3">&spades;</div>
    <div class="spotB2">&spades;</div>
    <div class="spotB4">&spades;</div>

    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:5em;top:0em;">
    <div class="card_small" id="6_2">

    <div class="front red">


    <div class="index">9<br />&diams;</div>
    <div class="index_bottom">8<br />&diams;</div>


    <div class="spotA1">&diams;</div>
    <div class="spotA5">&diams;</div>
    <div class="spotC1">&diams;</div>
    <div class="spotC5">&diams;</div>


    <div class="spotA2">&diams;</div>
    <div class="spotC3">&diams;</div>
    <div class="spotA4">&diams;</div>
    <div class="spotC4">&diams;</div>
    <div class="spotB3">&diams;</div>

    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:6em;top:0em;">
    <div class="card_small" id="6_3">

    <div class="front red">


    <div class="index">9<br />&hearts;</div>
    <div class="index_bottom">8<br />&hearts;</div>


    <div class="spotA1">&hearts;</div>
    <div class="spotA5">&hearts;</div>
    <div class="spotC1">&hearts;</div>
    <div class="spotC5">&hearts;</div>


    <div class="spotA2">&hearts;</div>
    <div class="spotC3">&hearts;</div>
    <div class="spotA4">&hearts;</div>
    <div class="spotC4">&hearts;</div>
    <div class="spotB3">&hearts;</div>

    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:7em;top:0em;">
    <div class="card_small" id="8_2">

    <div class="front red">





        <img class="face" src="/static/img/jack_diamonds.jpg" alt="" width="80" height="130"  />


    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:8em;top:0em;">
    <div class="card_small" id="8_0">

    <div class="front">





        <img class="face" src="/static/img/jack_clubs.jpg" alt="" width="80" height="130"  />


    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:9em;top:0em;">
    <div class="card_small" id="8_1">

    <div class="front">





        <img class="face" src="/static/img/jack_spades.jpg" alt="" width="80" height="130"  />


    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:10em;top:0em;">
    <div class="card_small" id="10_1">

    <div class="front">





    <img class="face" src="/static/img/king_spades.jpg" alt="" width="80" height="130"  />


    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:11em;top:0em;">
    <div class="card_small" id="11_3">

    <div class="front red">


    <div class="index">A<br />&hearts;</div>
    <div class="index_bottom">A<br />&hearts;</div>


    <div class="ace">&hearts;</div>


    </div>
    </div>
    </div>

    </div>
</div>
<div class="center_playfield">
	<h2>Whats been played</h2>
</div>
<div class="player_right">
	<h1>Sara</h1>
  	<div class="hand_play_area">







    <div class="card_hit_area"  style="left:-1em;top:0em;">
    <div class="card_small" id="0_1">

    <div class="front">


    <div class="index">3<br />&spades;</div>
    <div class="index_bottom">2<br />&spades;</div>


    <div class="spotB1">&spades;</div>
    <div class="spotB3">&spades;</div>
    <div class="spotB5">&spades;</div>


    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:0em;top:0em;">
    <div class="card_small" id="1_2">

    <div class="front red">


    <div class="index">4<br />&diams;</div>
    <div class="index_bottom">3<br />&diams;</div>


    <div class="spotA1">&diams;</div>
    <div class="spotA5">&diams;</div>
    <div class="spotC1">&diams;</div>
    <div class="spotC5">&diams;</div>


    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:1em;top:0em;">
    <div class="card_small" id="2_3">

    <div class="front red">


    <div class="index">5<br />&hearts;</div>
    <div class="index_bottom">4<br />&hearts;</div>


    <div class="spotA1">&hearts;</div>
    <div class="spotA5">&hearts;</div>
    <div class="spotC1">&hearts;</div>
    <div class="spotC5">&hearts;</div>


    <div class="spotB3">&hearts;</div>

    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:2em;top:0em;">
    <div class="card_small" id="3_1">

    <div class="front">


    <div class="index">6<br />&spades;</div>
    <div class="index_bottom">5<br />&spades;</div>


    <div class="spotA1">&spades;</div>
    <div class="spotA5">&spades;</div>
    <div class="spotC1">&spades;</div>
    <div class="spotC5">&spades;</div>


    <div class="spotA3">&spades;</div>
    <div class="spotC3">&spades;</div>

    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:3em;top:0em;">
    <div class="card_small" id="3_3">

    <div class="front red">


    <div class="index">6<br />&hearts;</div>
    <div class="index_bottom">5<br />&hearts;</div>


    <div class="spotA1">&hearts;</div>
    <div class="spotA5">&hearts;</div>
    <div class="spotC1">&hearts;</div>
    <div class="spotC5">&hearts;</div>


    <div class="spotA3">&hearts;</div>
    <div class="spotC3">&hearts;</div>

    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:4em;top:0em;">
    <div class="card_small" id="4_3">

    <div class="front red">


    <div class="index">7<br />&hearts;</div>
    <div class="index_bottom">6<br />&hearts;</div>


    <div class="spotA1">&hearts;</div>
    <div class="spotA5">&hearts;</div>
    <div class="spotC1">&hearts;</div>
    <div class="spotC5">&hearts;</div>


    <div class="spotA3">&hearts;</div>
    <div class="spotC3">&hearts;</div>
    <div class="spotB2">&hearts;</div>

    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:5em;top:0em;">
    <div class="card_small" id="5_3">

    <div class="front red">


    <div class="index">8<br />&hearts;</div>
    <div class="index_bottom">7<br />&hearts;</div>


    <div class="spotA1">&hearts;</div>
    <div class="spotA5">&hearts;</div>
    <div class="spotC1">&hearts;</div>
    <div class="spotC5">&hearts;</div>


    <div class="spotA3">&hearts;</div>
    <div class="spotC3">&hearts;</div>
    <div class="spotB2">&hearts;</div>
    <div class="spotB4">&hearts;</div>

    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:6em;top:0em;">
    <div class="card_small" id="6_1">

    <div class="front">


    <div class="index">9<br />&spades;</div>
    <div class="index_bottom">8<br />&spades;</div>


    <div class="spotA1">&spades;</div>
    <div class="spotA5">&spades;</div>
    <div class="spotC1">&spades;</div>
    <div class="spotC5">&spades;</div>


    <div class="spotA2">&spades;</div>
    <div class="spotC3">&spades;</div>
    <div class="spotA4">&spades;</div>
    <div class="spotC4">&spades;</div>
    <div class="spotB3">&spades;</div>

    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:7em;top:0em;">
    <div class="card_small" id="6_0">

    <div class="front">


    <div class="index">9<br />&clubs;</div>
    <div class="index_bottom">8<br />&clubs;</div>


    <div class="spotA1">&clubs;</div>
    <div class="spotA5">&clubs;</div>
    <div class="spotC1">&clubs;</div>
    <div class="spotC5">&clubs;</div>


    <div class="spotA2">&clubs;</div>
    <div class="spotC3">&clubs;</div>
    <div class="spotA4">&clubs;</div>
    <div class="spotC4">&clubs;</div>
    <div class="spotB3">&clubs;</div>

    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:8em;top:0em;">
    <div class="card_small" id="9_0">

    <div class="front">





        <img class="face" src="/static/img/queen_clubs.jpg" alt="" width="80" height="130"  />


    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:9em;top:0em;">
    <div class="card_small" id="10_0">

    <div class="front">





    <img class="face" src="/static/img/king_clubs.jpg" alt="" width="80" height="130"  />


    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:10em;top:0em;">
    <div class="card_small" id="10_3">

    <div class="front red">





    <img class="face" src="/static/img/king_hearts.jpg" alt="" width="80" height="130"  />


    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:11em;top:0em;">
    <div class="card_small" id="11_0">

    <div class="front">


    <div class="index">A<br />&clubs;</div>
    <div class="index_bottom">A<br />&clubs;</div>


    <div class="ace">&clubs;</div>


    </div>
    </div>
    </div>







    <div class="card_hit_area"  style="left:12em;top:0em;">
    <div class="card_small" id="12_1">

    <div class="front">


    <div class="index">2<br />&spades;</div>
    <div class="index_bottom">2<br />&spades;</div>


    <div class="spotB1">&spades;</div>
    <div class="spotB5">&spades;</div>


    </div>
    </div>
    </div>

    </div>
</div>
    </div>

<div>
    <h1>Player you!!! Fuck, yeah!</h1>
	<div class="hand_play_area">







    <div class="card_hit_area" onmouseover="moveCardUp('1_1');" onmouseout="moveCardDown('1_1')" style="left:-1em;top:0em;">
    <div class="card_small" id="1_1">

    <div class="front">


    <div class="index">4<br />&spades;</div>
    <div class="index_bottom">3<br />&spades;</div>


    <div class="spotA1">&spades;</div>
    <div class="spotA5">&spades;</div>
    <div class="spotC1">&spades;</div>
    <div class="spotC5">&spades;</div>


    </div>
    </div>
    </div>







    <div class="card_hit_area" onmouseover="moveCardUp('1_3');" onmouseout="moveCardDown('1_3')" style="left:0em;top:0em;">
    <div class="card_small" id="1_3">

    <div class="front red">


    <div class="index">4<br />&hearts;</div>
    <div class="index_bottom">3<br />&hearts;</div>


    <div class="spotA1">&hearts;</div>
    <div class="spotA5">&hearts;</div>
    <div class="spotC1">&hearts;</div>
    <div class="spotC5">&hearts;</div>


    </div>
    </div>
    </div>







    <div class="card_hit_area" onmouseover="moveCardUp('2_1');" onmouseout="moveCardDown('2_1')" style="left:1em;top:0em;">
    <div class="card_small" id="2_1">

    <div class="front">


    <div class="index">5<br />&spades;</div>
    <div class="index_bottom">4<br />&spades;</div>


    <div class="spotA1">&spades;</div>
    <div class="spotA5">&spades;</div>
    <div class="spotC1">&spades;</div>
    <div class="spotC5">&spades;</div>


    <div class="spotB3">&spades;</div>

    </div>
    </div>
    </div>







    <div class="card_hit_area" onmouseover="moveCardUp('4_0');" onmouseout="moveCardDown('4_0')" style="left:2em;top:0em;">
    <div class="card_small" id="4_0">

    <div class="front">


    <div class="index">7<br />&clubs;</div>
    <div class="index_bottom">6<br />&clubs;</div>


    <div class="spotA1">&clubs;</div>
    <div class="spotA5">&clubs;</div>
    <div class="spotC1">&clubs;</div>
    <div class="spotC5">&clubs;</div>


    <div class="spotA3">&clubs;</div>
    <div class="spotC3">&clubs;</div>
    <div class="spotB2">&clubs;</div>

    </div>
    </div>
    </div>







    <div class="card_hit_area" onmouseover="moveCardUp('5_2');" onmouseout="moveCardDown('5_2')" style="left:3em;top:0em;">
    <div class="card_small" id="5_2">

    <div class="front red">


    <div class="index">8<br />&diams;</div>
    <div class="index_bottom">7<br />&diams;</div>


    <div class="spotA1">&diams;</div>
    <div class="spotA5">&diams;</div>
    <div class="spotC1">&diams;</div>
    <div class="spotC5">&diams;</div>


    <div class="spotA3">&diams;</div>
    <div class="spotC3">&diams;</div>
    <div class="spotB2">&diams;</div>
    <div class="spotB4">&diams;</div>

    </div>
    </div>
    </div>







    <div class="card_hit_area" onmouseover="moveCardUp('7_0');" onmouseout="moveCardDown('7_0')" style="left:4em;top:0em;">
    <div class="card_small" id="7_0">

    <div class="front">


    <div class="index">10<br />&clubs;</div>
    <div class="index_bottom">9<br />&clubs;</div>


    <div class="spotA1">&clubs;</div>
    <div class="spotA5">&clubs;</div>
    <div class="spotC1">&clubs;</div>
    <div class="spotC5">&clubs;</div>


    <div class="spotA2">&clubs;</div>
    <div class="spotC2">&clubs;</div>
    <div class="spotA4">&clubs;</div>
    <div class="spotC4">&clubs;</div>
    <div class="spotB2">&clubs;</div>
    <div class="spotB4">&clubs;</div>

    </div>
    </div>
    </div>







    <div class="card_hit_area" onmouseover="moveCardUp('7_2');" onmouseout="moveCardDown('7_2')" style="left:5em;top:0em;">
    <div class="card_small" id="7_2">

    <div class="front red">


    <div class="index">10<br />&diams;</div>
    <div class="index_bottom">9<br />&diams;</div>


    <div class="spotA1">&diams;</div>
    <div class="spotA5">&diams;</div>
    <div class="spotC1">&diams;</div>
    <div class="spotC5">&diams;</div>


    <div class="spotA2">&diams;</div>
    <div class="spotC2">&diams;</div>
    <div class="spotA4">&diams;</div>
    <div class="spotC4">&diams;</div>
    <div class="spotB2">&diams;</div>
    <div class="spotB4">&diams;</div>

    </div>
    </div>
    </div>







    <div class="card_hit_area" onmouseover="moveCardUp('8_3');" onmouseout="moveCardDown('8_3')" style="left:6em;top:0em;">
    <div class="card_small" id="8_3">

    <div class="front red">





        <img class="face" src="/static/img/jack_hearts.jpg" alt="" width="80" height="130"  />


    </div>
    </div>
    </div>







    <div class="card_hit_area" onmouseover="moveCardUp('9_3');" onmouseout="moveCardDown('9_3')" style="left:7em;top:0em;">
    <div class="card_small" id="9_3">

    <div class="front red">





        <img class="face" src="/static/img/queen_hearts.jpg" alt="" width="80" height="130"  />


    </div>
    </div>
    </div>







    <div class="card_hit_area" onmouseover="moveCardUp('9_1');" onmouseout="moveCardDown('9_1')" style="left:8em;top:0em;">
    <div class="card_small" id="9_1">

    <div class="front">





        <img class="face" src="/static/img/queen_spades.jpg" alt="" width="80" height="130"  />


    </div>
    </div>
    </div>







    <div class="card_hit_area" onmouseover="moveCardUp('10_2');" onmouseout="moveCardDown('10_2')" style="left:9em;top:0em;">
    <div class="card_small" id="10_2">

    <div class="front red">





    <img class="face" src="/static/img/king_diamonds.jpg" alt="" width="80" height="130"  />


    </div>
    </div>
    </div>







    <div class="card_hit_area" onmouseover="moveCardUp('11_1');" onmouseout="moveCardDown('11_1')" style="left:10em;top:0em;">
    <div class="card_small" id="11_1">

    <div class="front">


    <div class="index">A<br />&spades;</div>
    <div class="index_bottom">A<br />&spades;</div>


    <div class="ace">&spades;</div>


    </div>
    </div>
    </div>







    <div class="card_hit_area" onmouseover="moveCardUp('13_1');" onmouseout="moveCardDown('13_1')" style="left:11em;top:0em;">
    <div class="card_small" id="13_1">

    <div class="front">





    <img class="face" src="/static/img/black_joker.jpg" alt="" width="80" height="130"  />


    </div>
    </div>
    </div>

	</div>
      <input type="submit" value="Pass">
      <input type="submit" value="Quit">
</div>
</body>
</html>