/******************************************************************************
* Styles for play field.                                                   *
******************************************************************************/

.container {
    display: grid;
    grid-template-columns: 20% auto 20%;
}

.header_row {
  grid-column: 1 / 4;
  grid-row: 1;
  background-color: #F1C1A1;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 12.5% 25%r 12.5% 25%;
    grid-template-rows: 33% 17% 17% 33%;
    width: 100vw;
    height: 100vh;
    gap: 5px;
}

.playfield_left { grid-area: 1 / 1 / span 3 / 2; background: lightblue; }
.playfield_center { grid-area: 1 / 2 / span 1 / span 3; background: lightgreen; }
.playfield_right { grid-area: 1 / 5 / span 3 / 6; background: lightcoral; }
.arena_left { grid-area: 2 / 2 / span 2 / 3; background: lightsalmon; }
.arena_center { grid-area: 2 / 3 / span 1 / 4; background: lightgray; }
.arena_right { grid-area: 2 / 4 / span 2 / 5; background: lightpink; }
.arena_bottom { grid-area: 3 / 3 / 4 / 4; background: lightyellow; }
.left_over { grid-area: 4 / 1 / 5 / 2; background: lightcyan; }
.playfield_bottom { grid-area: 4 / 2 / 5 / 5; background: lightgoldenrodyellow; }
.right_over { grid-area: 4 / 5 / 5 / 6; background: lightseagreen; }

.arena_play_area_0 {
  position: relative;
  left: 0%;
  top: 50%;
  transform: translate(0%, -50%) rotate(90deg);
}

.arena_play_area_1 {
  position: relative;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%) rotate(180deg);
}

.arena_play_area_2 {
  position: relative;
  left: 0%;
  top: 50%;
  transform: translate(50%, -50%) rotate(270deg);
}

.arena_play_area_3 {
  position: relative;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 50%);
}

.player_left {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.player_opposite {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}

.player_right {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(270deg);
}

.player_you {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
